.profile-github {
  grid-area: github;
  border: 1px solid gray;
}

.profile-github .repo {
  display: flex;
  border-bottom: 1px dotted gray;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
  border: none;
}

.text-primary { 
  margin-left: 1rem;
}

.flex {
  display: flex;
  width: 10rem;
  padding: 0.5rem;
  justify-content: space-between;
}