.profile-about {
  grid-area: about;
  text-align: center;
  border: 1px solid gray;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
