.profile-exp {
  grid-area: exp;
  border: 1px solid gray;
}

.profile-edu {
  grid-area: edu;
  border: 1px solid gray;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 2px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}